/****************************************************/
/********** styles for notes and settings page ******/
/****************************************************/
*{
  user-select: none;
}
a{
  text-decoration: none;
}
a:visited{
  color: var(--text-color);
}
#new-note{
  /* width: 80%; */
  max-width: 46.875rem;
  min-width: 25rem;
  min-height: 5rem;
  margin: 0 auto 2rem;
  padding: .5rem 1rem 1rem;
  border: 1px solid var(--text-color);
  background-color: /*#F0B032*/#ffde5900;
  border-radius: 6px;
  box-shadow: 0 0.125rem 0.3125rem #F0B03259;
}

#new-note:hover{
  box-shadow: 0 0.325rem 0.3125rem #F0B03259;
}

#new-text{
  width: 100%;
  height: 100%;
  padding: .5rem;
  margin: .5rem 0 1rem;
  max-height: 60vh;
  overflow:auto;
  border: 1px solid #F0B03259;
  /* border: 1px solid transparent;Transparent border by default */
  border-radius: 4px; /* Optional: Rounded corners */
  resize: none; /* Disable resizing */
  background-color: var(--bg-color);
  color: var(--text-color);
  /* border-radius: 2px; */
}
#new-text:focus{
  height: 5rem;
  outline: #F0B03259;
  border: 2px solid #ffde59;
  /* transition: height 1s ease-in; */
}
/* #new-text:focus{
  height: 5rem;
} */

.transparent_btn{
  width: 100px;
  padding: .5rem; 
  background-color: #0000;
  color: var(--color);
  border:1px solid var(--accent-2);
}
.transparent_btn:hover{
  background-color:var(--highlight);
transition: background-color 0.2s;
  cursor: pointer;
}

#notes-area{
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr)); Responsive columns */
  gap: 1rem; /* Space between notes */
  grid-auto-rows: 2.5rem; /* Base row height */
  grid-auto-columns: 2.5rem; /* Base column height */
}

.grid-view {
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr)); /* Responsive grid */
}

.list-view {
  grid-template-columns: 1fr; /* Single column centered */
  max-width: 46.875rem;
  margin: 0 auto; /* Center align */
}

.note{
  background-color:#fff8b800;
  border:1px solid var(--text-color);
/* width: calc(25% - 1rem);
  min-width: 15rem;
  max-width: 20rem; */
  /* height:auto; */
  min-height: 4rem;
  max-height: 30rem;
  /* margin-bottom: 1rem; */
  padding: .0 0.2rem;
  line-height: 1rem;
  border-radius: 0.35rem;
  grid-row-end: span var(--row-span);
  
  overflow: hidden; /* Hide overflow */
  display: flex;
  flex-direction: column;
  /* box-shadow: 0 0.125rem 0.3125rem rgba(0 0 0 0.2);   */
}

.note:hover{
  box-shadow: 0 0.325rem 0.3125rem #F0B03259;
  transition: all 0.3s ease;
}
.note-header{
  display: flex;
  /* justify-content: space-between; */
  gap: 0.5rem;
  padding: 0 0.2rem;
  border-bottom: 1px dashed #f0b132;
}

.date{
  margin-top: .5rem;
  margin-right: auto;
  color: var(--readonly-text);
  font-size: .8rem;
}

.icon-btn{
  padding: 0.5rem;
  
}
.icon-btn:hover{
  background-color: var(--highlight);
  border-radius: 2rem;
  transition: background-color 0.3s ease-in-out;
}
.note-text{
  /* overflow:auto; */
  height: 100% !important;
  width: 100%;
  /* max-height: 20rem; */
  /* min-height: 3rem; */
  /* margin: 0.3rem 0; */
  padding: .2rem;
  margin-bottom: .2rem;
  line-height: 1rem;
  /* white-space: pre-wrap; */
  resize: none;
  border: 1px solid transparent;
  overflow: auto;
  font-size: 1rem;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.inactive-text{
 color: var(--readonly-text) !important;
}
.inactive-link{
  color:   var(--inactive-element) !important;
  background-color: none;
  pointer-events: none;
}

.note-text:focus {
  outline: 0.5px solid #f0b13200; 
  border-radius: 5px;
}
.expand-note{
  grid-column-end: span 2;
}
.active-note, .active-note:hover, #settings-container:hover{
  box-shadow: 0 0.325rem 0.3125rem #f0b132;
  /* transition: all 0.2s ease; */
}
/*++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++ Settings ++++++++++++++++++++++*/
#settings-container{
  width: 50%;
  max-width:  35.25rem;
  min-width: 25rem;
  min-height: 5rem;
  margin: 0 auto 2rem;
  padding: 1rem;
  border: 1px solid var(--text-color);
  background-color: #ffde5900; /*transparent*/
  border-radius: 6px;
  box-shadow: 0 0.125rem 0.3125rem #f0b1328e;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

#settings-container h3{
  text-align: center;
}

table {
  width: 100%; 
  border-collapse: collapse; 
  border: none; 
  margin-bottom: 2rem;
}

tr {
  border-bottom: 1px solid var(--readonly-text);
}
tr:last-of-type{
  border-bottom: none;
}

td {
  border: none;
  padding: 8px; /* Add some padding for spacing */
}
td select{
  width: 100%;
}

/* First column takes most of the space */
td:first-child {
  width: 80%;
}

/* Second column takes 20% of the space */
td:last-child {
  /* font-size: 1.5rem; */
  width: 20%;
  text-align: center;
}
.deleteAll:hover{
  background-color: rgba(255, 0, 0, 0.336);
}

#usedLocalStorage{
  font-size: small;
  color: var(--readonly-text);
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}