.notification {
    position: fixed;
    bottom: 80px;
    right: 20px;
    color: #fff;
    font-size: 14px;
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 1000;
    overflow: hidden;
    padding: 1rem;
    border: 1px solid var(--text-color);
    background-color: #ffde5900; /*transparent*/
    border-radius: 6px;
    box-shadow: 0 0.125rem 0.3125rem var(--accent-2);
  }
  
  .notification.success {
    background-color: #4caf50;
  }
  
  .notification.error {
    background-color: #f44336;
  }
  
  .notification.hide {
    opacity: 0;
    transform: translateX(100%);
  }
  
  /* Progress bar */
  .progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background: var(--accent-2);
  }
  